<section>
    <div class="d-flex">
        <div  class="header-info">
            <div class="header-wrapper header-info-expanded"><span>Servicio al cliente de Lider.cl: WhatsApp <a
                        href="https://api.whatsapp.com/send?phone=56957211492&amp;text=Hola!%20Tengo%20una%20consulta">+56957211492</a>
                    | Horario: de lunes a viernes de 8:00 a 22:00 y sábado, domingo y festivos de 9:00 a 22:00</span>
                <div><a href="https://www.lider.cl/agenda/#JuntosNosCuidamos"
                        class="styled__StoreLink-sc-17jbrkg-0 eChuqJ"><img height="13px" alt="agenda"
                            src="https://www.lider.cl/catalogo/images/agenda_icon.svg"><span>agenda tu visita</span></a><a
                        href="https://www.lider.cl/tiendas" class="styled__StoreLink-sc-17jbrkg-0 eChuqJ"><img
                            height="13px" alt="locales" src="https://www.lider.cl/catalogo/images/locales_icon.svg"><span>locales y
                            horarios</span></a></div>
            </div>
        </div>
        <div class="site-header compact" style="background-color: rgb(0, 113, 206);">
            <div class="header-wrapper">
                <div class="logo"><a href="/catalogo/"><img alt="Lider Logo" src="https://www.lider.cl/catalogo/images/lider-logo.svg"
                            style="width: 152px; height: 35px; margin-top: 12px; margin-bottom: 6px;"></a></div>
                <div class="menu-icon-container">
                    <div style="cursor: pointer; display: flex;">
                        <div class="styled__StyledBurger-sc-11876d-0 iZPiGj">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="show-category">Categorías</div>
                    </div>
                </div>
                <div style="width: 100%; margin: 0px 3%;">
                    <div class="search-width">
                        <div class="search-box-container-header" style="padding-top: 10px;">
                            <section>
                                <div class="ais-InstantSearch__root">
                                    <div class="ais-SearchBox">
                                        <form class="ais-SearchBox-form" role="search" (submit)="searchProduct()">
                                            <input type="text" id="searchBoxId" [(ngModel)]="searchBoxId" [ngModelOptions]="{standalone: true}"
                                                placeholder="¿Qué estás buscando?" maxlength="512"
                                                class="ais-SearchBox-input" value="" >
                                                <button type="submit" 
                                                title="Submit your search query." 
                                                class="ais-SearchBox-submit search-input-icons"><svg
                                                    class="ais-SearchBox-submitIcon" xmlns="http://www.w3.org/2000/svg"
                                                    width="10" height="10" viewBox="0 0 40 40">
                                                    <path
                                                        d="M26.804 29.01c-2.832 2.34-6.465 3.746-10.426 3.746C7.333 32.756 0 25.424 0 16.378 0 7.333 7.333 0 16.378 0c9.046 0 16.378 7.333 16.378 16.378 0 3.96-1.406 7.594-3.746 10.426l10.534 10.534c.607.607.61 1.59-.004 2.202-.61.61-1.597.61-2.202.004L26.804 29.01zm-10.426.627c7.323 0 13.26-5.936 13.26-13.26 0-7.32-5.937-13.257-13.26-13.257C9.056 3.12 3.12 9.056 3.12 16.378c0 7.323 5.936 13.26 13.258 13.26z">
                                                    </path>
                                                </svg></button>
                                                <button type="button" title="Clear the search query."
                                                class="ais-SearchBox-reset search-input-icons" hidden=""><svg
                                                    class="ais-SearchBox-resetIcon" xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 20 20" width="10" height="10">
                                                    <path
                                                        d="M8.114 10L.944 2.83 0 1.885 1.886 0l.943.943L10 8.113l7.17-7.17.944-.943L20 1.886l-.943.943-7.17 7.17 7.17 7.17.943.944L18.114 20l-.943-.943-7.17-7.17-7.17 7.17-.944.943L0 18.114l.943-.943L8.113 10z">
                                                    </path>
                                                </svg></button><span class="ais-SearchBox-loadingIndicator"
                                                hidden=""><svg width="18" height="18" viewBox="0 0 38 38"
                                                    xmlns="http://www.w3.org/2000/svg" stroke="#444"
                                                    class="ais-SearchBox-loadingIcon">
                                                    <g fill="none" fill-rule="evenodd">
                                                        <g transform="translate(1 1)" stroke-width="2">
                                                            <circle stroke-opacity=".5" cx="18" cy="18" r="18"></circle>
                                                            <path d="M36 18c0-9.94-8.06-18-18-18"
                                                                transform="rotate(215.328 18 18)">
                                                                <animateTransform attributeName="transform"
                                                                    type="rotate" from="0 18 18" to="360 18 18" dur="1s"
                                                                    repeatCount="indefinite"></animateTransform>
                                                            </path>
                                                        </g>
                                                    </g>
                                                </svg></span>
                                        </form>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="StoreSelector__StoreSelectorContainer-sc-41lzk8-1 klaRMX"><img alt="store-selector"
                        src="https://www.lider.cl/catalogo/images/location-icon.svg" class="StoreSelector__LocationIcon-sc-41lzk8-2 jUkHmH">
                    <div style="margin-left: 8px; display: flex; flex-direction: column;"><span>Retira tu producto
                            en:</span><span class="StoreSelector__OpenStoreSelectorButton-sc-41lzk8-0 VHdMv">
                            <div>Seleccionar Tienda</div>
                        </span></div>
                </div><a href="https://www.lider.cl/supermercado" target="_blank" rel="noopener noreferrer"
                    class="styled__HoverLink-sc-17jbrkg-1 bFPxBN"><img height="20px" alt="supermercado"
                        src="https://www.lider.cl/catalogo/images/super_cart.svg"><span>Supermercado</span></a>
                <div class="cart-supermarket-width">
                    <div class="cart-container" style="background-color: rgb(4, 30, 66);">
                        <li class="list-inline-item cart-dropdown dropdown nav-item"><a aria-haspopup="true" 
                                class="p-0 nav-link" aria-expanded="false">
                                <div id="shoppingCart" class="d-flex justify-content-between shopping-cart-images"><img
                                        alt="cart" src="https://www.lider.cl/catalogo/images/lider-cart.svg" width="29" height="25">
                                    <div class="cart-quantity">
                                        <div id="quantityNumber" class="quantity-number">0</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>